<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Haritha jobs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="{% static 'css/jobs.css'%}">
<body>
    <div class="container">
        <div class="jumbtron">
            <h1>Welcome to Jobs Portal</h1>
            <p>Continous job updates for every hour...........</p>
            <a class="btn btn-primary btn-lg" href="hydjobs/" role="button">Hyderabad jobs</a>
            <a class="btn btn-primary btn-lg" href="punejobs/" role="button">Pune jobs</a>
            <a class="btn btn-primary btn-lg" href="bngjobs/" role="button">Bengalore jobs</a>
        </div>
    </div>
</body>
</html>